<div class="d-flex justify-content-between">
  <h4>Listagem de produtos</h4>
  <a href="/produto/create"><i class="bi bi-plus-square-fill fs-4"></i></a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    {{#each produtos}}
    <tr>
        <td>{{nome}}</td>
        <td>{{preco}}</td>
        <td>
          <a href="/produto/{{id}}"><i class="bi bi-eye-fill"></i></a>
          <a href="/produto/update/{{id}}"><i class="bi bi-pencil-square"></i></a>
          <a href="/produto/remove/{{id}}"><i class="bi bi-trash3"></i></a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>